@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;

}

.header{
    background: linear-gradient(
        180deg,
        rgb(255, 255, 255) 0%,
        rgb(255, 255, 255) 51%,
        rgb(255, 253, 255) 100%);

        min-height: 70vh;
        display: flex;
        align-items: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    width: 80px;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #3F3F3F;
    display: block;
    font-weight: bold;
}

.menu .navbar ul li a:hover{
    color: #cb0be9;
}

.socials-1 img{
    width: 30px;
    margin-right: 15px;
}

#menu{
    display: none;
}

.menu-icono{
    width: 35px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content{
    padding: 100px 0;
    display: flex;
    align-items: center;
}

.header-txt{
    width: 50%;
    padding-right: 100px;
}

.header-txt h1{
    font-size: 140px;
    line-height: 150px;
    color: #68117be0;
    margin-bottom: 25px;
    -webkit-text-stroke: 45px black;
    -moz-border-radius: 15px 30px 45px 60px;
    -webkit-border-radius: 5px 30px 45px 60px; 
    border-radius: 5px 30px 45px 60px;
    -webkit-text-stroke-width: 2px;
    background:url("imagenes/AFEMS\ fondo.avif");
    -webkit-background-clip: text;
    background-clip: -15px;
    -webkit-text-fill-color: transparent;
    
}
   


p {
    font-size: 20px;
    color:#424242;
    margin-bottom: 35px;
    text-align: center;

}

.btn-1{
    display: inline-block;
    padding: 13px 30px;
    background-color: #940ca9;
    color: #FFFF;
    border-radius: 25px;
    font-size: 18px;
}

.btn-1:hover{
    background-color: #940ca9;
}

.header-img{
    width: 50%;
    text-align: center;
}

.header-img img{
    width: 550px;
}

.about{
    padding: 100px 0;
    background-color: #EFEFEF;
}

.about-content{
    display: flex;
    position: relative;
    flex-direction: column; /* Cambia la dirección del flexbox a columna */
    align-items: center; /* Centra los elementos horizontalmente */
}

.ab1{
    position: relative;
    width: auto;
    left: 0;
    top: 0;
    rotate: 0deg;
}

/*.ab2{
    position: absolute;
    width: 50px;
    left: 750px;
    top: 450px;
    rotate: 0deg;

}*/

.about.img{
    flex: 1;
    width: auto;
}

.about.img img {
    width: 76%;
}

.about-txt{
    flex: 1;
    padding-left: 50px;
}

h2{
    font-size: 70px;
    line-height: 50px;
    color:#3F3F3F;
    margin-bottom: 25px;
    text-align: center;
}

.btn-2{
    display: inline-block;
    padding: 13px 45px;
    font-size: 18px;
    background-color: #940ca9;
    color: #FFFFFF;
    border-radius: 25px;
    border: 0;
    font-family: "Raleway", sans-serif;
    cursor: pointer;
}

.btn-2:hover{
    background-color: #940ca9;
}

.information{
    padding: 100px 400px 400px 400px;
    text-align: right;
    background-color: #FBFBFB;
}

.information-content{
    position: relative;
}

.in1{
    width: 70%;
    position: relative;
    border-bottom: 25px;
    border-top: 15px;  
}

/*.in2{
    position: flex;
    width: 100;
    right: 0;
    top: 0;
    rotate: 0deg;
}*/

.contact {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*.contact-table{
    padding: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 700px;
    margin-top: -400px;
}*/

/*.contact-table span{
    font-size: 40px;
    color: #940ca9;

}*/

form{
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinear los elementos del formulario al centro */
}

.campo{
    padding: 17px 35px;
    background-color: #cb0be927;
    border-radius: 25px;
    margin-bottom: 15px; /* Espacio entre los campos */
    border: 1px solid #E8E8E8;
    outline: none;
    color: #3F3F3F;
    width: 300px; /* Ajustar el ancho del campo según sea necesario */
}

.campo::placeholder{
    color: #940ca9;
    align-items: center;
}

.form-content{
    padding: 100px 0 70px 0;
    text-align: center;
    
}

.form-content h2{
    font-size: 55spx;
    color: #3F3F3F;
    margin-bottom: 25px;
}

.footer{
    border-top: 2px solid #E8E8E8;
    padding: 50px 0 0 0;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.link-img{
    text-align: center;
}

.link-img img {
    width: 70px;
    margin-bottom: 10px;
}

.socials-2 img{
    width: 30px;
    margin: 10px;
}

.link h3 {
    font-size: 22px;
    color: #3F3F3F;
    margin-bottom: 15px;
}

.link a{
    font-size: 18px;
    display: block;
    color: #3F3F3F;
    margin-bottom: 20px;
}

.link a:hover{
    color: #940ca9;
}

.footer-copy{
    padding: 25px 0;
    text-align: center;
    border-top: 1px solid #E8E8E8;
}

.footer-copy p{
    color: #7c7c7c;
    font-size: 17px;
    margin: 0;
}

@media(max-width:991px){
    .menu{
        padding: 30px;
    }

    .menu label{
        display: initial;
    }

    .socials-1{
        display: none;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left:0;
        right: 0;
        background-color: #3F3F3F;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    .menu .navbar ul li a{
        color : #FFFFFF;
        padding: 20px;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content{
        padding: 130px 30px 80px 30px;
        flex-direction: column;
    }

    .header-txt{
        width: 100%;
        padding-right: 0;
        text-align: center;
        margin-bottom: 15px;
    }

    .header-txt h1 {
        font-size: 90px;
        line-height: 100px;
    }

    .header-img {
        width:100%;
        text-align: center;
    }

    .header-img img {
        width: 250px;
    }

    .about {
        padding: 30px;
    }

    .about-content {
        flex-direction: column; /* Cambia la dirección del flexbox a columna */
        align-items: center; /* Centra los elementos horizontalmente */
    }

    .ab1, .ab2{
        display: none;
    }

    .about-img {
        order: -1; /* Cambia el orden de la imagen para que esté antes del texto en el flujo del contenido */
        width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
        text-align: center; /* Centra el contenido */
    }


    .about-img img {
        width: 75%; /* Ajusta el ancho de la imagen al 75% del contenedor */
    }

    .about-img, .about-txt {
        width: 75%; /* Ajusta el ancho de los elementos a 100% */
        text-align: center; /* Centra el contenido */
    }

    .about-txt {
        width: 100%; /* Ajusta el ancho del texto al 100% del contenedor */
        padding-left: 0; /* Elimina el relleno izquierdo */
        text-align: center; /* Centra el texto */
    }

    h2{
        font-size: 70px;
        line-height: 80px;
    }

    .information{
        padding: 30px 30px 100px 30px;
    }

    .in1, .in2 {
        width: 100%; /* Ajusta el ancho de los elementos al 100% del contenedor */
        text-align: center; /* Centra el contenido */
    }

    .in1 {
        order: -1; /* Cambia el orden de la imagen para que esté antes del texto en el flujo del contenido */
        width: 100%; /* Restaura el ancho automático */
        text-align: center; /* Centra el contenido */
        margin: 0 auto; /* Centrar horizontalmente */    }

    .in1 img {
       max-width: 75%; /* Ajusta el ancho de la imagen al 75% del contenedor */
       height: auto;
    }
    .contact{
        padding: 30px;
    }

    .contact-table{
        width: 100%;
        margin-top: -120px;    
    }

    .footer-content {
        padding: 30px;
    }

    form{
        flex-direction: column;
    }

    .campo{ 
        margin-bottom: 20px;
    }

    .footer-links{
        flex-direction: column;
        text-align: center;
    }   

    .link-img{
        margin-bottom: 15px;
    }

}
